.footer{
  background: var(--darkBlue);
  color: var(white);
  padding: 2em 0;
  text-align: center;
  svg {
    display: flex;
    margin: auto;
    margin-top: 0;
  }
  &__navigation {
    display: grid;
    text-align: center;

  }
  a {
    color: var(--gray);
    text-decoration: none;
    display: block;
    margin-bottom: 1em;;
  }
  &__first{
    margin-top: 0;
    display: flex;
    align-items: center;
  }
  &__socialmedia {
display: flex;
justify-content: center;
margin-top: 0;
  }
  @media screen and( min-width: 768px) {
    &__content{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      button{
        height: 50px;
        width: 200px;
      }
    }
    &__first{
      display: block;
    }
    &__socialmedia{
      justify-content: left;
    }
    svg {
      margin: 1em 0;
    }
    &__navigation{
      grid-template-columns: 1fr 1fr;
    }

  }

}