.menu-button{
  width: 40px;
  background: url('../images/icon-hamburger.svg') no-repeat center;
  
}
.menu{
  display: none;
  list-style: none;
  margin: 0;
  a{
    text-decoration: none;
    color: var(--grayBlue);
    padding:  0 .7em;
  }
  &__checkbox{
    &:checked {
      & ~ .menu {
        display: block;
        position: absolute;
        top: calc(100%);
        background: white;
        top: 100%;
        padding: 1em;
        left: 0;
        right: 0;
        height: 100vh;
        background: linear-gradient(to bottom, var(--darkBlue) 0%, transparent 100%);
        border-radius: 5px;
        a{
          background: white;
          padding: 1em;
          display: block;
          text-align: center;
        }
      }
    }
  }
}
