.why{
  background: var(--gray);
  text-align: center;
  padding-top: 3em;
   
  &-item{
    border: 1px solid yellow;
    .text{
      margin-bottom: 2em;
    }
    img {
      margin-bottom: 1em;
    }
}
}
@media screen and (min-width: 768px) {
  .why {
    text-align: left;
  }

.why-grid{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
}